.comment{ :id => "comment_#{comment.id}"}
  .author= link_to comment.author, comment.url, :target => "_new"
  %span.meta
    on
    %span.date= comment.created_at.display_date
    at
    %span.time= comment.created_at.display_time
  .text
    = comment.to_html