<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
	<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
		<title>BryanRay.NET - Pragmatic, Agile, Ruby on Rails, Developer</title>
		
		<%= css_include_tag 'clearfixes', 'ie6', 'resets', 'master', 'typography' %>
		<%= css_include_tag 'framework', '/javascripts/facebox/facebox.css' %>
		
		<%= js_include_tag 'jquery.js', 'lowpro.jquery.js', 'jquery.livequery.js' %>
		<%= js_include_tag 'jquery.ui.all', 'ui/effects.highlight.js' %>
		<%= js_include_tag 'application', 'facebox/facebox.js' %>
		<%= include_required_js %>
		
		<%= catch_content :for_head %>
	</head>
	
    <body>
        <div class="outer">
    		<div class="header">
    			<div class="logo">
    				<img src="/images/bryanray-logo-with-badge.png" />
    			</div>
    		</div>
		
    		<div class="navigation">
    			<div class="wrapper clearfix">
    				<ul class="main">
    					<li class="current"><%= link_to "Home", url(:root) %></li>
                        <!-- <li><a href="#">Projects</a></li> -->
    					<li><%= link_to "Posts", url(:posts) %></li>
                        <!-- <li><a href="#">About Me</a></li> -->
    				</ul>
    				
    				<ul class="secondary">
    				    <% if logged_in? %>
    				        <li><%= link_to "Logout", url(:logout) %></li>
    				    <% else %>
    				        <li><%= link_to "Login", url(:login) %></li>
    				    <% end %>
    				</ul>
    			</div>
    		</div>
    		
    		<div class="wrapper">
    			<div class="inner clearfix">
                    <%= catch_content :for_layout %>
                </div>
            </div>
            
            <div class="footer">
                <p>This site is <strong>powered</strong> by 
                    <a href="https://manage.slicehost.com/customers/new?referrer=2204107130" target="_new">Slicehost</a>,
                    <a href="http://merbivore.com" target="_new">Merb</a>, 
                    <a href="http://datamapper.org" target="_new">DataMapper</a>, 
                    <a href="http://jquery.com">jQuery</a>,
                    <a href="http://haml.hamptoncatlin.com/" target="_new">haml</a>, 
                    <a href="http://rspec.info" target="_new">RSpec</a>, 
                    <a href="http://mountaindew.com" target="_new">Mountain Dew</a>, and a <a href="http://en.wikipedia.org/wiki/Sleep_deprivation" target="_new">lack of sleep</a>.</p>
            </div>
        </div>
        
        <%= js_include_tag 'ga' %>
    </body>
</html>