= form_for(:post, :action => url(:post), :method => :post) do 
  .left_column
    = text_control :title, :label => 'Title'
    = text_area_control :text, :label => 'Body', :rows => "10"
  
  .right_column
    .widget
      %h6 Status
      
      .content
        %h6 Published at
        = text_control :published_at, :value => Date.today, :style => 'width: 165px'
        
        %h6 Current Status
        = select_control :status, :collection => [['published', 'Published'], ['unpublished', 'Unpublished']], :label => 'Status'
          
      .content
        %h6 Viewable By
        
        %select
          %option Anyone
          %option Members Only
          %option Only Me

      .content.actions
        = submit "Create"